* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  text-align: center;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 5rem 3rem 1fr 3rem;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
          "header header"
          "sidebar nav"
          "sidebar article"
          "footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 100%;
  padding: 0;
  margin-bottom: 0;
  gap: 10rem;
}

.logo {
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: left;

}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  width: 100%;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: nav;

}

.nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5rem;
  list-style: none;
  text-align: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;

}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}